{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<hr>
{% if news %}
<table>
    <tr>
        <td>Название</td>
        <td>Описание</td>
        <td>Время</td>
    </tr>
    {% for new in news %}
    <tr>
        <td>{{ new.name }}</td>
        <td>{{ new.description|censor|truncatechars:20 }}</td>
        <td>{{ new.date|date:'h:s d M Y' }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
  <a class="btn btn-warning mb-5" href="?page={{ page_obj.previous_page_number }}">« Previous page</a>

  {% if page_obj.number > 3 %}
    <a class="btn btn-outline-warning mb-5" href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <button class="btn btn-outline-warning mb-5" disabled="">...</button>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a class="btn btn-warning mb-5" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-warning mb-5" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <button class="btn btn-outline-warning mb-5" disabled="">...</button>
    <a class="btn btn-outline-warning mb-5" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a class="btn btn-outline-warning mb-5" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a class="btn btn-warning mb-5" href="?page={{ page_obj.next_page_number }}">Next Page »</a>
{% endif %}
{% endblock content %}
